[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafkauser
ExecStart=/home/kafkauser/kafka/bin/zookeeper-server-start.sh /home/kafkauser/kafka/config/zookeeper.properties
ExecStop=/home/kafkauser/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target