[mysqld]
explicit_defaults_for_timestamp=1
character-set-server=utf8mb4
port=3306
binlog_rows_query_log_events=on
server-id         = 1
log_bin           = mysql-bin
expire_logs_days  = 1
binlog_format     = row

[client]
default-character-set=utf8mb4


